<header uk-nav class="fixed z-10 top-0 px-5 w-full font-bold h-[70px] flex bg-[#f6f8fd] items-center lg:px-14">
    <a class="flex gap-[10px]" href="">
      <img class="h-[32px] " src="images/logo-teaching.png" alt="">
      <div class="text-center h-[28px] bg-white text-[15px] border border-[#727272] text-[#727272] px-2 py-[1px] hover:bg-blue-400 ring-green-300 focus:ring-4 group-hover:text-gray-600  transition-all animate-pulse">線上開課工具!</div>
    </a>
    <nav class="uk-parent mx-auto absolute top-[70px] w-full left-0 lg:relative lg:top-0 lg:w-auto">
      <a  class="absolute top-[-44px] right-[22px] " href="#"><img  class="lg:hidden ml-auto" src="images/icon_bars.svg" alt=""></a>
      <ul id="header_ui" uk-scrollspy-nav="closest: li; scroll: true" class="flex gap-[20px] flex-col lg:flex-row lg:!flex lg:bg-[#f6f8fd] bg-white lg:bg text-black items-center">
        <li class="block justify-center py-[10px] hover:text-[#007cc1]"><a href="#scroll_1">線上開課工具</a></li>
        <li class="block justify-center py-[10px] hover:text-[#007cc1]"><a href="#scroll_2">功能特色</a></li>
        <li class="block justify-center py-[10px] hover:text-[#007cc1]"><a href="#scroll_3">方案費用</a></li>
        <li class="block justify-center py-[10px] hover:text-[#007cc1]"><a href="#scroll_4">客戶案例</a></li>
        <li class="block justify-center py-[10px] hover:text-[#007cc1]"><a href="#scroll_5">關於我們</a></li>
        <li class="block justify-center py-[10px] hover:text-[#007cc1]"><a href="#scroll_6">藍猴首頁</a></li>
      </ul>
    </nav>
    
    <a class="border-[2px] border-orange-400 rounded-full px-[20px] py-[10px] hover:duration-500 hover:text-white hover:bg-gradient-to-br from-yellow-400 to-orange-500 hidden lg:block" href="#">F R E E ! 開 通 試 用</a>
  </header>