<header class="top-0 px-5 w-full font-bold h-[70px] flex bg-[#f6f8fd] items-center lg:px-14">
    <a class="flex gap-[10px]" href="">
      <img class="h-[32px] " src="images/logo-teaching.png" alt="">
      <div class="text-center h-[28px] bg-white text-[15px] border border-[#727272] text-[#727272] px-2 py-[1px] hover:bg-blue-400 ring-green-300 focus:ring-4 group-hover:text-gray-600  transition-all animate-pulse">線上開課工具!</div>
    </a>
    <div id="offcanvas-flip" class="mx-auto" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close></button>
            <nav class="absolute top-[70px] w-full left-0 lg:relative lg:top-0 lg:w-auto">
              <ul  class="flex gap-[20px] flex-col lg:flex-row lg:!flex lg:bg-[#f6f8fd]  lg:bg text-black items-center">
                <li class="block py-[10px] hover:text-[#007cc1] "><a href="">線上開課工具</a></li>
                <li class="block py-[10px] hover:text-[#007cc1] "><a href="">方案費用</a></li>
                <li class="block py-[10px] hover:text-[#007cc1] "><a href="">客戶案例</a></li>
                <li class="block py-[10px] hover:text-[#007cc1] "><a href="">關於我們</a></li>
                <li class="block py-[10px] hover:text-[#007cc1] "><a href="">功能特色</a></li>
                <li class="block py-[10px] hover:text-[#007cc1] "><a href="">藍猴首頁</a></li>
              </ul>
            </nav>
        </div>
    </div>
    <a  class="ml-auto lg:hidden" href="#" uk-toggle="target: #offcanvas-flip"><img src="images/icon_bars.svg" alt=""></a>
    <a class="border-[2px] border-orange-400 rounded-full px-[20px] py-[10px] hover:duration-500 hover:text-white hover:bg-gradient-to-br from-yellow-400 to-orange-500 hidden lg:block" href="#">F R E E ! 開 通 試 用</a>


   
</header>

